[submodule "os"]
	path = os
	url = https://github.com/budzworthy/volumio-os
[submodule "plugins"]
	path = plugins
	url = https://github.com/budzworthy/volumio-plugins-sources-bookworm
[submodule "backend"]
	path = backend
	url = https://github.com/budzworthy/volumio3-backend.git
